html {
    background-color: #F3F3F3;
}

* {
    font-family: Helvetica-Light, HiraginoSans-W2;
    color: #444444;
}

body {
    width: 100%;
    margin: 0;
}

h1 {
    font-family: Helvetica-Light, HiraginoSans-W2;
    font-size: 22px;
    font-weight: 200;
    margin: 0 0 19px 0;
}

a {
    text-decoration: none;
}

a:link {
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
    border: none;
    padding: 0;
    font-size: 22px;
}

button a {
    text-decoration: none;
}

p {
    font-family: Helvetica-Light, HiraginoSans-W2;
    font-size: 20px;
    font-weight: 200;
    color: #4A4A4A;
    margin: 0 0 23px 0;
}

ul li {
    text-decoration: none;
}

#header {
    background: rgba(255, 255, 255, 1.0);
    height: 114px;
    width: auto;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

@supports(-webkit-backdrop-filter) {
    #header {
        background: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

#logo {
    box-shadow: inset 0 -1px 0 0 #E0E0E0;
}

#logo h1 {
    padding: 14px;
    color: #818181;
    font-weight: 100;
}

#contact h1 {
    border-top: 1px solid #0B0B3A;
    padding: 10px 0 0 0;
}

#headerNav {}

#content {
    padding: 124px 24px 0 24px;
}

#headerNav ul {
    padding: 0px;
    margin: 0px;
}

#headerNav ul li {
    height: 28px;
    text-align: center;
}

.twitter-blue-bg {
    background: #1DA1F2;
}

.LinkedIn-CIColor-BG {
    background: #0077B5;
}

.button-SNS-Profile {
    border-radius: 4px;
    border: 0px;
    margin: 5px;
    text-align: center;
    width: 162px;
    height: 40px;
    font-size: 22px;
    color: #fff;
}

.button-SNS-Profile a {
    text-decoration: none;
    color: #fff;
}

.tab-item>button {}

li.tab-item {
    box-shadow: inset 0 -4px 0 0 #E0E0E0;
}

li.tab-item.isSelected {
    box-shadow: inset 0 -4px 0 0 #0B0B3A;
}

.tab-item-wrapper {}

.tab-item-wrapper ul {
    flex-direction: row;
    justify-content: space-around;
    box-shadow: inset 0 -4px 0 0 #E0E0E0;
}

.tab-item-flex {}

.tl-type-profile .tl-icon {
    width: 39px;
    height: 39px;
    overflow: hidden;
    margin: 23px 16px;
    flex-shrink: 0;
    background-image: url("assets/Profile.png");
    background-size: cover;
}

.tl-type-image .tl-icon {
    width: 39px;
    height: 39px;
    overflow: hidden;
    margin: 23px 16px;
    flex-shrink: 0;
}

.tl-type-event .tl-icon {
    width: 13px;
    height: 13px;
    overflow: hidden;
    margin: 38px 29px;
    flex-shrink: 0;
    background-color: #0B0B3A;
    border-radius: 100px;
}

.tl-icon img {
    width: 100%;
    height: 100%;
}

.tl-message {
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 12px 0;
}

.tl-message p {
    vertical-align: middle;
}

.timeline-item {}

#contact {
    margin: 10px 0;
}

.SNS-link {
    justify-content: center;
}

.flex-container {
    display: flex;
}

.tl-year p {
    font-size: 14px;
    margin: 0 0 0 75px;
}

.timeline-item.tl-type-image {
    overflow: hidden;
}

.tl-photo {
    overflow: hidden;
    border-radius: 5px;
    margin: 14px 0;
}

.tl-photo img {
    width: 100%;
}

.tl-year p {
    margin-top: -10px;
}
